<h1>Listing all Rates</h1>
<p>
<%= link_to "Create new rate", new_rate_path %>
</p>
<table>
    <tr>
        <th>DT</th>
        <th>ProductID</th>
        <th>Rate</th>
    </tr>
<% @rate.each do |rate| %>
    <tr>
        <td><%= rate.DT %></td>
        <td><%= rate.ProductID %></td>
        <td><%= rate.Rate %></td>
        <td><%= link_to 'Edit', edit_rate_path(rate), class: "btn btn-xs btn-primary"  %></td>
        <td><%= link_to 'Delete', rate_path(rate), class: "btn btn-xs btn-primary" , method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
<% end %>
</table>




