<h1>Create new </h1>
<%= form_for @rate do |f| %>
<p>
<%= f.label :DT %><br/>
<%= f.text_field :DT %>
</p>
<p>
<%= f.label :ProductID %><br/>
<%= f.text_field :ProductID %>
</p>
<p>
<%= f.label :Rate %><br/>
<%= f.text_field :Rate %>
</p>
<p>
<%= f.submit class: 'btn btn-primary btn-lg'%>
</p>
<% end %>

<%= link_to "Back to rates listing", rates_path %>